body {
  font-family: sans-serif;
}

p, h1, h2 {
   color: red;
   font-size: 12px;
}

      a  {
        color: hotpink
}

      a:hover {
color:blue
}

      ul li {font-style: italic}

      .int-link, ol p {font-weight: bolder}

      #mail link {color:gray}

      #mail link {color:blue}
